@font-face {
  font-family: "Fighting";
  src: url(../fonts/FightingForce.ttf) format("truetype");
}

main{
  background-color: #282727;
  color: white;
}

.titulo{
  text-align: center;
  font-family: "Fighting", sans-serif;
  font-size: 100px;
}

#regiao-calculadora{
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-align: center !important;
  font-size: 18px;
  padding: 0 30px;
}

h1{
  margin: 0 0 40px 0 !important;
}

form{
  margin: auto !important;
}

ul{
  list-style-type: none;
  padding: 0;
}

input, select{
  margin-bottom: 30px !important;
  color: #000 !important;
  width: 100%;
}

label{
  margin-bottom: 10px !important;
  text-align: left;
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: auto !important;
}

table, th, td {
  border: 3px solid gray;
}

th, td{
  text-align: center !important;
}

#submit{
  text-align: center;
  background-color: #ff9933;
  color: red !important;
  font-size: 30px !important;
  font-weight: bold;
  font-family: "Fighting", sans-serif;
  border-radius: 10px;
  letter-spacing: 4px
}

.container{
  width: 100% !important;
}
