@font-face {
  font-family: "Fighting";
  src: url(../fonts/FightingForce.ttf) format("truetype");
}

main{
  background-color: #282727;
  color: white;
  padding: 45px 5px 45px 5px;
}

.titulo{
  text-align: center;
  margin-top: 0;
  font-family: "Fighting", sans-serif;
  font-size: 100px;
}

#chartContainer{
  width: 100%;
  height: 50vh;
}

.canvasjs-chart-credit{ display: none; }
