*{
    margin: 0;
}

header {
    width: 100%;
    background-color: #161616;
    overflow: hidden;
    text-align: center;
    margin: 0 !important;
}

#header_img{
    height: 100px;
    width: 250px;
    margin: 7px 0 10px 0;
}

#header-img-link:hover{
    text-decoration: none !important;
    border-bottom: none !important;
}

nav{
  border: none !important;
}

header nav section{
    padding: 0 !important;
}

header nav a{
    text-decoration: none !important;
    color: white !important;
    font-size: 15px;
    line-height: 125px;
    font-weight: bold;
}

header nav a:hover{
    text-decoration: none;
    padding-bottom: 12px;
    color: #084c25 !important;
    transition: color 1.2s;
    cursor: hand;
    cursor: pointer;
    background-color: transparent !important;
}

header nav div a:visited{
    text-decoration: none !important;
    color: orange;
    font-weight: bold;
    font-size: 17px;
    line-height: 125px;
}

.navbar-collapse, .navbar-header{
  background-color: orange;
  margin: 10px;
  border-radius: 10px;
}

.nav-title{
  color: white !important;
  font-weight: bold;
}

.navbar-default{
  background-color: transparent !important;
}

.burguer:hover{
  background-color: transparent !important;
}

.burguer{
  border: 2px solid white !important;
}

.burguer>span{
  background-color: white !important;
}
