@font-face {
  font-family: "Fighting";
  src: url(../fonts/FightingForce.ttf) format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
}

main{
  background-color: #282727;
  color: white;
  height: 100%;
}

#container{
  width: 100% !important;
  background-color: #282727;
  margin: 0 !important;
}

#menu-lateral-lista{
  background-color: transparent !important;
  text-align: center !important;
}

#menu-lateral-lista a{
  background-color: orange !important;
  color: white;
  font-weight: bold;
  padding: 10px;
}

#menu-lateral-lista a:hover {
  cursor: pointer;
  font-weight: bold;
  color: #084c25 !important;
  transition: color 1.2s;
}

.menu-lateral-lista-ativo {
  color: #084c25 !important;
}

#sagas {
  height: auto;
  padding: 0 50px 50px 50px;
}

.titulo{
  text-align: center;
  margin-bottom: 30px;
  font-family: "Fighting", sans-serif;
  font-size: 100px;
}

.img{
  margin: 0 15px 8px 0;
  float: left;
  width: 450px;
  height: 560px;
}

.texto{
  white-space: pre-line;
  word-wrap: break-word;
  text-align: justify;
  position: relative;
  font-size: 16px;
}
